.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

.card-thumbnail {
    border-radius: 10px;
}